.box{
    box-sizing:border-box;
    border:.5px solid rgba(0,0,0,.2);
}
.input{
    display:flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}
button{
    width:calc(100%/5);
    margin-bottom:15px;
}
h2{
    color:blueviolet;
}